@font-face {
	font-family: 'Icons';
	src:url('../type/icomoon.eot?hoko78');
	src:url('../type/icomoon.eot?#iefixhoko78') format('embedded-opentype'),
	    url('../type/icomoon.ttf?hoko78') format('truetype'),
	    url('../type/icomoon.woff?hoko78') format('woff'),
	    url('../type/icomoon.svg?hoko78#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-label {
	@include hidden;
}

.icon {
	font-family: 'Icons';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

$icons: (
	// Navigation 
	menu: "\e120",
	donate: "\e024",
	search: "\e036",
	rules: "\e077",
	// Generic UI
	check: "\e042",
	cross: "\e043",
	arrow-left: "\e094",
	arrow-right: "\e095",
	arrow-up: "\e096",
	arrow-down: "\e097",
	// Social
	social-web: "\e078",
	social-twitter: "\e800",
	social-facebook: "\e801",
	social-tumblr: "\e802",
	social-github: "\e803"
);

@each $icon, $code in $icons {
	.icon--#{$icon}::before { content: quote(#{$code}); }
}