.template-about {
	&__media {
		margin-top: -20px;
		padding-bottom: 30%;
		position: relative;
		overflow: hidden;
		transition: padding-bottom .35s ease;
		@include mq(tng, true) {
			margin-top: -40px;
		}
		&__video,
		&__image {
			width: 100%;
			height: auto;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&__video {
			
		}
		&__image {

		}
	}
	&__stats {
		@include clearfix;
		background-color: palette(brand, primary);
		text-align: center;
		&__inner {
			display: inline-block;
			padding-top: 20px;
			padding-bottom: 20px;
			position: relative;
			white-space: nowrap;
		}
		&__title {
			display: inline-block;
			padding: 3px 6px;
			position: absolute;
			left: 0;
			bottom: 100%;
			color: palette(shade, white);
			background-color: palette(brand, primary);
			font-weight: bold;
		}
		&__item {
			display: inline-block;
			padding-right: 2.5%;
			padding-left: 2.5%;
			text-align: left;
			
		}
	}
	&__intro {
		margin-top: 40px;
		margin-bottom: 40px;
		position: relative;
		background-color: palette(shade, white);
		@include mq(tng, true) {
			font-size: em-calc(21px);
		}
	}
}